<div class="card col-lg p-1 ml-1" data-day-details-target="content">
	<h5 class="card-title">{{'title.details' | trans }}&nbsp;(<span data-day-details-target="day"></span>)
	</h5>
	<div class="card-body" data-day-details-target="body"></div>
</div>
