<div class="card col-4 p-1">
	<h5 class="card-title text-center">{{'title.status' | trans }}</h5>
	<div class="card-body">
		<div>{{ 'label.workdaysThisYear' | trans }}
			<span data-personal-calendar-target="workdays"></span>
		</div>
		<div>{{ 'label.approvedThisYear' | trans }}
			<span data-personal-calendar-target="approved"></span>
		</div>
	</div>
</div>
