<div class="card col-4 p-1">
	<h5 class="card-title text-center">{{'title.user.legend' | trans }}&nbsp;</h5>
	<div class="card-body" data-department-calendar-target="colorLegend">
		<div data-user-legend-target="legendList">
		</div>
	</div>
</div>