<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true" data-personal-calendar-target="modal"  data-department-calendar-target="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-department-calendar-target="modalTitle">{{ modalTitle }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" data-personal-calendar-target="modalBody"  data-department-calendar-target="modalBody"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">{{'btn.cancel' | trans}}
				</button>
				<button type="button" class="btn btn-primary" data-action="personal-calendar#submitForm department-calendar#submitForm">
					{{'btn.save' | trans}}
				</button>
			</div>
		</div>
	</div>
</div>
