{% extends 'base.html.twig' %}

{% block title %}{{ 'New Department' | trans}}{% endblock %}

{% block body %}
    <h1>{{ 'title.workcalendar.new' | trans | capitalize }}</h1>

    {{ include('department/_form.html.twig') }}

    <a href="{{ path('department_index') }}">back to list</a>
{% endblock %}
