{% extends 'base.html.twig' %}

{% block title %}{{'title.antiquityIndex' | trans }}{% endblock %}

{% block body %}
    <h1><h1>{{'title.antiquityIndex' | trans }}</h1></h1>

    {{ include('antiquity_days/_form.html.twig') }}

    <a href="{{ path('antiquity_days_index') }}">back to list</a>
{% endblock %}
